/web/bundles/
/web/1/
/app/bootstrap.php.cache
/app/cache/
/app/config/parameters.yml
/app/logs/
!app/cache/.gitkeep
!app/logs/.gitkeep
/build/
/vendor/
/bin/
/intra/
/src/Rotalia/*Bundle/Model/map/
/src/Rotalia/*Bundle/Model/om/
/composer.phar
.idea/
app/propel/generated-schemas/
components/
.directory
