{#
 @var reports Report[]
 @var activeReport Report[]
#}
<tr class="noPrint">
    <td colspan="2">Valvekohuslane:</td>
    {% for report in reports %}
        {% if report.isUpdate %}
            <td>-</td>
        {% else %}
            {% set guardMembers = report.guardDutyMember %}
            <td>
                {% if guardMembers|length > 0 %}
                    {% for guardMember in guardMembers %}
                        <span{% if report.memberId == guardMember.id %} class="guardDutySuccess"{% endif %}>
                            {{ guardMember.fullName }}{% if loop.index < guardMembers|length %}<br />{% endif %}
                        </span>
                    {% endfor %}
                {% else %}
                    <i>Valve puudub</i>
                {% endif %}
            </td>
        {% endif %}
    {% endfor %}

    {% if activeReport is defined %}
        {% set guardMembers = activeReport.guardDutyMember %}
        <td>
            {% if guardMembers|length > 0 %}
                {% for guardMember in guardMembers %}
                    <span{% if activeReport.memberId == guardMember.id %} class="guardDutySuccess"{% endif %}>
                        {{ guardMember.fullName }}{% if loop.index < guardMembers|length %};{% endif %}
                    </span>
                {% endfor %}
            {% else %}
                <i>Valve puudub</i>
            {% endif %}
        </td>
    {% endif %}
</tr>
