{#
@var pos PointOfSale
#}
{% extends "RotaliaInventoryBundle::layout.html.twig" %}

{% block title %}Kassa{% endblock %}

{% block profile %}
    {% if is_granted("IS_AUTHENTICATED_REMEMBERED") -%}
        {{ parent() }}
    {% else %}
        <span><strong>Kassa: {{ pos.name }}</strong></span>
        <span><a href="{{ path('fos_user_security_login') }}">Sisene</a></span>
    {%- endif %}
{% endblock %}
