{#
 @var category ProductCategory
#}
<table class="data sortable">
    <tr>
        <th>Nimi</th>
        <th>Hind</th>
        <th>Kogus</th>
        <th>Märkused</th>
        <th>&nbsp;</th>
    </tr>
    {% for product in category.products %}
        <tr class="{{ cycle(['even', 'odd'], loop.index) }}">
            {{ render(controller('RotaliaInventoryBundle:Inventory:editProduct', {'id': product.id})) }}
        </tr>
    {% endfor %}
</table>