{% extends "RotaliaInventoryBundle::layout.html.twig" %}

{% block title%}Logi sisse{% endblock %}

{% block body %}

    {% if error %}
        <div>{{ error.messageKey|trans(error.messageData, 'security') }}</div>
    {% endif %}

    <form action="{{ path("fos_user_security_check") }}" method="post">
        <input type="hidden" name="_csrf_token" value="{{ csrf_token }}" />
        <label for="username">Kasutaja:</label>
        <input type="text" id="username" name="_username" value="{{ last_username }}" />
        <br />
        <label for="password">Salasõna:</label>
        <input type="password" id="password" name="_password" />
        <br />
        <input type="checkbox" id="remember_me" name="_remember_me" value="on" />
        <label for="remember_me">Jäta mind meelde</label>
        <br />
        {#
            If you want to control the URL the user
            is redirected to on success (more details below)
            <input type="hidden" name="_target_path" value="/account" />
        #}

        <input type="submit"  id="_submit" name="_submit" class="button" value="Sisene" />
    </form>
{% endblock %}
