.left {
    text-align: left;
}
.right {
    text-align: right;
}
.center {
    text-align: center;
}

.fleft {
    float: left !important;
}
.fright {
    float: right !important;
}

.bold {
    font-weight: bold;
}

.wrap {
    white-space: normal !important;
}

td.report-error {
    background-color: #fee !important;
    color: #800;
}
td.report-ok {
    background-color: #eaffee !important;
    color: #080;
}

tr.even td {
    background-color: #f8f8f8 !important;
}

#Report_cash {
    width: 126px;
}

#calculator {
    display: inline-block;
}

.inventoryUpdate {
    font-weight: bold;
    background: url(../images/inventory-update.png) no-repeat right;
    background-size: contain;
    padding-right: 30px !important;
}

.oldPrice {
    color: #999999;
}

.basketItemAmountReduce, .basketItemAmountAdd {
    width: 14px;
    height: 14px;
    display: inline-block;
    cursor: pointer;
}

.basketItemAmountReduce {
    background: url(../images/minus.png) no-repeat;
    background-size: contain;
}
.basketItemAmountAdd {
    background: url(../images/plus.png) no-repeat right bottom;
    background-size: contain;
}

.productRow {
    cursor: ns-resize !important;
}
.productRowDragged {
    cursor: pointer !important;
}

.calc_count_input_eur, .calc_count_input_cent {
    width: 100px;
}

.reloadButton {
    width: 16px;
    height: 16px;
    display: inline-block;
    background-image: url('../images/reload.png');
    background-size: 16px 16px;
}

#spinner {
    width: 14px;
    height: 14px;
    -webkit-animation: sweep 0.5s infinite linear;
    border-radius: 7px;
    border-bottom: 2px solid #080;
    display: inline-block;
}
@-webkit-keyframes sweep { to { -webkit-transform: rotate(360deg); } }

#logo-new { float: left; font-size: 26px; font-family: "Arial Rounded", arial, helvetica; padding: 20px 0 0 10px; }
#logo-new A { text-decoration: none; }