HTML, BODY { padding: 0; margin: 0; background: #f8f8f8 url(../images/bg_ornament.png); width: 100%; height: 100%; }
BODY { padding-bottom: 1px; text-align: center; }
BODY, INPUT, SELECT, TEXTAREA { font-family: Arial, Helvetica, sans-serif; font-size: 14px; color: #000; line-height: 21px; }
INPUT, SELECT, TEXTAREA { padding: 2px 3px; line-height: 17px; }

P { margin: 0 0 10px 0; clear: both; }
IMG { border: 0; }
A { text-decoration: underline; }
.clear { clear: both; overflow: hidden; }
.w100pc { width: 100%; }
.nowrap { white-space:nowrap; }
#mainteinance { padding: 10px; color: #800; background-color: #fee; border-bottom: 1px solid #800; font-weight: bold; text-align: center; }
#mainteinance SPAN { font-size: 10px; color: #a00; font-weight: normal; }
.log { font-size: 12px; }
.log .date { color: #999; }
#toggle-content { display: none; }
H2.toggle { padding-left: 0; background: url(../images/plus.png) 2px 2px no-repeat; }
H2.minus { background-image: url(../images/minus.png); }
H2.toggle A { padding-left: 25px; text-decoration: none }
.msg { clear: both; margin: 10px; color: #666; font-size: 16px; font-weight: bold; }
.msg DIV { padding: 10px; border: 2px solid #666; }
.msg-ok { color: #080; }
.msg-ok DIV { border-color: #080; }
.msg-error { color: #800; }
.msg-error DIV { border-color: #800; }


/* General */
#container3 { background: #fff; width: 950px; padding: 35px; margin: auto; text-align: left; }
#footer { background: url(../images/tsirkel.png) no-repeat 50% 0; height: 130px; clear: both; margin-top: 1px; }
H1 { font-family: Georgia, "Bitstream Charter", "Century Schoolbook L", "Liberation Serif", Times, serif; text-shadow: #ddd 2px 2px 2px; font-style: italic; font-size: 35px; font-weight: normal; line-height: 50px; margin: 0 0 10px 0; }
TABLE.data { border-collapse: collapse; border-spacing: 0; border: none; margin-top: 10px; }
TABLE.form { border-collapse: separate; }
TABLE.data TH, TABLE.data TD { vertical-align: top; border: 1px solid #ddd; padding: 2px 4px; background-color: #fff; white-space:nowrap; }
TABLE.data TH { padding: 6px 4px; text-align: left; font-weight: bold; background: #eee; }
INPUT.text, INPUT.hasDatepicker, TEXTAREA, SELECT { background: #fff url(../images/shaddow.png) 0 0 no-repeat; }
INPUT.button { background: #eee; padding: 4px 9px; font-weight: bold; }
INPUT.text, INPUT.hasDatepicker, TEXTAREA, SELECT, INPUT.button { border: 2px solid #999; }
INPUT.text, INPUT.hasDatepicker, INPUT.button, TEXTAREA, .border4, .image IMG, .pagination-links A, .pagination-links SPAN { border-radius: 4px; -moz-border-radius: 4px; -khtml-border-radius: 4px; -webkit-border-radius: 4px; }
TABLE.data TD.form { text-align: right; font-weight: bold; padding: 6px 6px 0 0; }
TABLE.data TD.name { text-align: right; width: 35%; }
TABLE.data TD.value { font-weight: bold; }
TABLE.data TD SELECT { margin-top: 4px; }
TABLE.form TH, TABLE.form TD { border: 1px solid #fff; }
TABLE.form TD.form, TABLE.form TD { border-bottom: 1px dotted #ddd !important; }
TABLE.form TD.form-checkbox { padding: 7px 8px; }
A.edit { color: #c00; }
.new { background-color: #c00; color: #fff; font-weight: bold; }
.count { font-weight: bold; }
TABLE.data .header, H2 { text-shadow: #ddd 2px 2px 2px; font-weight: bold; font-size: 16px; padding-left: 16px; background: url(../images/dot.png) 6px 10px no-repeat; }
TABLE.data .header A.edit { font-size: 14px; font-weight: normal; text-shadow: none; }
H2 { background-position: 6px 7px; }
TABLE.data .border-top { border-top: 3px solid #ddd; }
TABLE.sortable TH { cursor:pointer; }


/* Special styles */
#more { float: right; background: #eee; border: 2px solid #ddd; }
#more DIV { padding: 10px; }
#more A { font-size: 16px; font-weight: bold; }
.archieve { clear: both; margin-top: 10px; padding: 8px; background: #eee; }
.archieve .active { text-decoration: none; color: #000; font-weight: bold; }
.archieve .button, .pagination-links A { background: #ddd; padding: 2px 5px; }
.pagination-selections { float: right; margin: 12px 0 0 25px }
.pagination-links { margin-top: 10px; padding: 8px; }
.pagination-links A, .pagination-links SPAN { padding: .3em .6em; line-height: 1.4; color: #fff; text-decoration: none; border: 1px solid #3b5999; background: #5b79c9 url(lib/jquery/css/rotalia/images/ui-bg_glass_45_5b79c9_1x400.png) 50% 50% repeat-x; }
.pagination-links A.current, .pagination-links .inactive { background-color: #869dda; }
#message { margin: 10px 0; border: 2px solid #ddd; padding: 10px; }
#results B { display: block; text-align: right; }
#comments .author { font-weight: bold; background-color: #eee; }
#comments .comment { padding-bottom: 6px; }
#comments TD, #addcomment TD, #results TD, #vote TD { border: none; }
.profile-right { margin-top: 10px; width: 300px; float: right; clear: both; }
.image { margin: auto; text-align: center; }
.image IMG { box-shadow: 1px 1px 5px 0 rgba(0, 0, 0, 0.5), inset 0 0 20px rgba(0, 0, 0, 0.1); }
.profile-right .infobox { padding-top: 10px; color: #666; text-align: center; }
.profile-right .infobox A { vertical-align: super; font-size: 12px; }
.profile-right .infobox DIV { font-size: 30px; line-height: 30px; font-weight: bold; }
.profile { width: 470px; float: left; }
.profile_pic_min { margin: -3px 3px 0 -2px; }
.profile_pic_min { -webkit-transition: all .3s ease-out;
    -moz-transition: all .3s ease-out;
    -o-transition: all .3s ease-out;
    transition: all .3s ease-out;
}
.profile_pic_min:hover {
    -moz-transform: scale(2.5);
    -webkit-transform: scale(2.5);
    -o-transform: scale(2.5);
    transform: scale(2.5);
    -ms-transform: scale(2.5);
    filter: progid:DXImageTransform.Microsoft.Matrix(sizingMethod='auto expand',
    M11=2.5, M12=-0, M21=0, M22=2.5);
}
/*.profile_pic_min:hover { -webkit-transition: all 500ms ease-in-out; -moz-transition: all 1s ease-in-out; -o-transition: all 1s ease-in-out; transition: all 500ms ease-in-out; zoom: 250%; }*/
A.inactive { font-weight: normal; color: #999; }
.gallup { height: 10px; float: left; margin: 3px 5px 0 0; background: #5b79c9; border: 2px #3b5999 solid; }
#novoters { font-size: 11px; line-height: 15px; padding-top: 15px; }
.calendar-ico { vertical-align: bottom; margin-bottom: 4px; cursor:pointer; cursor:hand }
.ui-autocomplete LI { background: none; text-align: left; }

/* Menu */
#menu { padding: 0; /*border-bottom: 2px solid #999;*/ color: #fff; }
#container1 { width: 1020px; margin: auto; text-align: left; }
#menu A { color: #fff; }
#logo { float: left; font-size: 26px; font-family: "Arial Rounded", arial, helvetica; padding: 20px 0 0 50px; background: url(../images/kilp.gif) 20px 20px no-repeat; }
#logo A { text-decoration: none; }
#profile { float: right; padding: 15px 20px 15px 0; }
#profile span { padding: 0 0 0 20px; }
#menu LI { float: left; background: none; padding: 0; }
#menu #view { margin-top: -3px; }
#menu .clear UL { padding: 0; font-weight: bold; margin: auto; }
#menu .clear LI A { display: block; padding: 6px 7px; /*border-left: 2px solid #999;*/ text-decoration: none; color: #f8f8f8; }
#main-menu, #main-menu.li { list-style: none none; padding: 0; margin: 0; }
#main-menu { padding: 3px 0 3px 10px; margin: 5px 0 0 0; }


/* Login */
#login #container2 { width: 340px; padding: 10px; margin: auto; text-align: left; }
#login #container3 { padding: 20px; width: auto; }
#login TABLE TD, #login TABLE TH { border-color: #fff; }
#login INPUT.button { background: url(../images/kilp.gif) 62px 5px no-repeat; padding: 5px 32px 5px 5px; font-size: 16px; }
#login #footer { display: none; }

/* Colors */
INPUT.text, INPUT.hasDatepicker, TEXTAREA, SELECT, INPUT.button { border-color: #3b5999; border-left-color: #1b3979; border-top-color: #1b3979; }
A, .nr, .parent .desc DIV, H1, .parent .desc A, TABLE.data .header { color: #3b5999; }
#container1 { background-color: #3b5999; }
#menu .clear LI A { background-color: #637aae; }
#menu .clear LI A:hover, #menu .clear LI A.active { background-color: #738abe; color: #fff; }
.credit-negative {color: red;}
.credit-positive {color: limegreen;}
.credit-null {color: inherit;}

.guardDutySuccess { color: #080; }
